* {
  box-sizing: border-box;
}

.app {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "akzidenzgrotesk-extended";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.vinyl-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vinyl-image {
  border-radius: 50%;
  position: absolute;
  max-width: calc(100% - 20px);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.vinyl-image.loading {
  opacity: 0.5;
}

.vinyl-dot {
  content: "";
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.buy-wrapper {
  display: flex;
  font-family: "akzidenzgrotesk-mediumextended";
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buy-wrapper-image {
  width: 150px;
}
.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playing-title {
  color: white;
  font-family: "akzidenzgrotesk-boldextended";
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.track-title {
  color: white;
  font-family: "akzidenzgrotesk-mediumextended";
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.message {
  font-size: 14px;
  background: black;
  padding: 20px;
  color: white;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 15px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.message-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
a {
  color: #f9e412;
  text-decoration: none;
}

button {
  appearance: none;
  background: rebeccapurple;
  border: rebeccapurple;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.rotate {
  animation: rotate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.rotating-svg {
  display: block;
  margin: 0 auto 5px auto;
  stroke: white;
  width: 80px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
